{% extends "layout.html" %}

{% block pageTitle %}
  Sign-in | Early Career Framework
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
    titleText: "Link confirmed for Corfe Hills School and Ark Academies Trust"
    }) }}



          <p><strong>Ark Academies Trust</strong> working with <strong>Saffron Walden County High School</strong>  is now the provider delivering the fully funded Early Career Framework induction programme training for <strong>Corfe Hills School</strong>.</p>



          <p>Start date: 01 September 2021</p>

          <h3 class="govuk-heading-m">What happens next?</h3>

          <p>You can save or print out the agreement <a href="/pdf">print out the agreement</a> for your records</p>

          <p>You can continue to your admin dashboard to add teachers and mentors to your programme.</p>

{{ govukButton({text: "Continue to dashboard", href:"./final-confirm"}) }}
    </div>
  </div>
{% endblock %}
