{% extends "layout.html" %}

{% block pageTitle %}
  Sign-in | Early Career Framework
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/dashboard">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Invitations from providers</h2>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break">


  <p>The following DfE induction partners have invited you to join their induction training programme. You can see the organisation that is managing the programme, and you will see the training provider if one has been suggested.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2><a href="/it-two/invite">Ark Academies Trust</a></h2>

    <p>Endorsed by Dorset Excellence MAT</p>

    <p>Training delivery partner: Saffron Walden County High School<br>
    Self-study and training outlines author: Teach First</p>

    <strong><p>Ark Academies are already working with:<br></strong>
    87 / 300 schools in Bournemouth and Poole<br>
    20 / 60 schools in Dorset Excellence MAT</p>

    <p>ECT places left on the programme: <strong class="govuk-tag govuk-tag--green">Over half</strong></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2><a href="/it-two/invite">Silver League Classrooms</a></h2>

        <p>Training delivery partner: Moffat Education Trust<br>
        Self-study and training outlines author: UCL</p>

        <strong><p>Silver League Classrooms are already working with:<br></strong>
        200 / 300 schools in Bournemouth and Poole<br>
        10 / 60 schools in Dorset Excellence MAT</p>

        <p>ECT places left on the programme: <strong class="govuk-tag govuk-tag--red">Under half</strong></p>



  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"">

  <h2><a href="/it-two/invite">Provider Academies</a></h2>

  <p>Training delivery partner: Blue Post Learning Trust<br>
  Self-study and training outlines author: Teach First</p>

  <strong><p>Provider Academies are already working with:<br></strong>
  10 / 300 schools in Bournemouth and Poole<br>
  3 / 60 schools in Dorset Excellence MAT</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"">

    <h3 class="govuk-heading-m">Upwards Learning</h3>

    <p>Training delivery partner: Clarion Federation<br>
    Self-study and training outlines author: Ambition</p>

    <strong><p>Upwards Learning are already working with:<br></strong>
    10 / 300 schools in Bournemouth and Poole<br>
    5 / 60 schools in Dorset Excellence MAT</p>

      {{ govukButton({text: "View Invitation", href:"/it-two/invite"}) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"">













    </div>
  </div>
{% endblock %}
