{% extends "layout.html" %}

{% block pageTitle %}
  School Lookup | Early Career Framework
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/find-your-school">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
		  <h1 class="govuk-heading-xl">Find your school</h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
      <h3 class="govuk-heading-m">Corfe Hills School</h3>

      <table class="govuk-table">

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Address</td>
            <td class="govuk-table__cell">Higher Blandford Rd, Broadstone<br> BH18 9BG</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">URN</td>
            <td class="govuk-table__cell">0000000</td>
          </tr>
        </tbody>
      </table>

          {{ govukButton({text: "Confirm and Continue", href:"./name"}) }}

	  </div>
</div>
{% endblock %}
