{% extends "layout.html" %}

{% block pageTitle %}
  Email sign in
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page"">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-email" method="post">

    <h1 class="govuk-heading-xl">Enter your email address</h1>
      <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Enter a school-based email address so we will be able to authenticate you. If you pass authentication, you will be able to set up your administrator account for this service.
          </label>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
            <div id="email-hint" class="govuk-hint">
              Email address should be in the format: name@schoolname.county.sch.uk
            </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

        <button class="govuk-button" data-module="govuk-button">Send confirmation email</button>

      </form>

    </div>
  </div>

{% endblock %}
