{% extends "layout.html" %}

{% block pageTitle %}
  Email sign in
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/email2">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-m">Example Email</h3>

    <p><strong> Email subject: Confirm your email address for the Early Career Framework induction programme</strong></p>


<p>Please click on the link to confirm your email address. If you pass authentication you will be asked to create a password and set up your account. After that you can finish registering your school on the Early Career Framework induction programme.</p>


<p><a href="/password">link to set up account</a><p>


<p>Do not reply to this email.</p>


<p>Department for Education</p>







    </div>
  </div>

{% endblock %}
