{% extends "layout.html" %}

{% block pageTitle %}
  Sign-in | Early Career Framework
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Invitations from providers</h2>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break">


  <p>The following DfE induction partners have invited you to join their induction training programme. You can see the organisation that is managing the programme, and you will see the training provider if one has been suggested.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
<h2><a href="/invite">Ark Academies Trust</a></h2>
    <p>Training delivery partner: Saffron Walden County High School</p>
    <p>Training and self-study content author: Teach First<br>
    Number of schools linked in Hampshire: 87<br>
    Number of schools linked in Hampshire Learn Fast MAT: 55<br>
  </p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"">

  <h2><a href="/invite">Ambition</a></h2>
      <p>Training delivery partner: A hampshire based delivery parter</p>
      <p>Training and self-study content author: Teach First<br>
      Number of schools linked in Hampshire: 70<br>
      Number of schools linked in Hampshire Learn Fast MAT: 40<br>
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"">

    <h2><a href="/invite">Ark Academies Trust</a></h2>
        <p>Training delivery partner: Saffron Walden County High School</p>
        <p>Training and self-study content author: Ambition<br>
        Number of schools linked in Hampshire: 87<br>
        Number of schools linked in Hampshire Learn Fast MAT: 55<br>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"">











    </div>
  </div>
{% endblock %}
